@charset "utf-8";

// Bulma bootstrap
@import "~bulma/bulma.sass";

// Import component
@import "~bulma-calendar/dist/css/bulma-calendar.min.css";

html, body {
    background-color: #eee;
}

body {
    margin: 30px;
}
.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
}
.form-holder {
    padding: 15px;
    box-sizing: border-box;
}
.panel {
    background-color: #fff;
}

#tab-content p {
  display: none;
}

#tab-content p.is-active {
  display: block;
}
